[buildout]
extends =
    http://svn.plone.org/svn/collective/buildout/plonetest/plone-4.0.x.cfg

package-name = collective.printout
package-directory = collective/printout

parts +=
    zopepy
    test

[instance]
eggs +=
    Products.PdbDebugMode
    Products.PrintingMailHost
    plone.reload

zcml +=
    plone.reload

[versions]
zope.schema = 3.6.4

[zopepy]
# For more information on this step and configuration options see:
# http://pypi.python.org/pypi/zc.recipe.egg
recipe = zc.recipe.egg
eggs = ${instance:eggs}
interpreter = zopepy
scripts = zopepy

[test]
recipe = collective.xmltestreport
eggs = ${buildout:package-name} [test]
defaults = ['--auto-color', '--auto-progress']
